{{!-- The following component displays Ember's default welcome message. --}}
{{!--welcome-page--}}
{{!-- Feel free to remove this! --}}
<center>
    <h1>Joan Marín y Pilar Arroyave</h1>
    <h2>CodeBreaker</h2>
{{outlet}}
</center>