<br><br><br>
<center>
	<br>
	<nav>
		<img src="/assets/Image/logo4.png" align="middle" height="75" width="75">
		<font FACE="symbah" size="6dp">yoTeArriendo</font>
		<font FACE="gotham" size="6.7dp">.com</font> &emsp;
		<font FACE="gotham">
				<button class="button" onclick="location.href='/inicio';">Inicio</button> &emsp;
				<button class="button" onclick="location.href='/hotels';">Hoteles</button> &emsp;
				<button class="button" onclick="location.href='/booking';">Reservas</button> &emsp;
				<button class="button" onclick="location.href='/profile';">Perfil</button> &emsp;
  		</font>
	</nav>
</center>

{{outlet}}

<footer>
	<br>
	<div>
	<center>
		<font FACE="helveticaNeue">YoTeArriendo.com Todos los derechos reservados 2018 Medellin, Antioquia</font><img  src = "/assets/Image/logo3.png" height="30" width="30">
	</center>
	</div>
</footer>